body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header {
  background-color: #16181f;
  text-align: center;
}
form {
  text-align: center;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}
/* .formStyle {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(5, 250px);
  column-gap: 7px;
  /* column-gap: 20%;
 } */
.formStyle {
  display: flex;
  align-items: center; /* Align items vertically to the center */
  justify-content: center; /* Align items horizontally to the center */
  gap: 15px; /* Adjust the gap value to add spacing between elements */
}
.formStyle label,
.formStyle input,
.formStyle button {
  margin-right: 17px; /* Adjust the margin value to add spacing between elements */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.flashcard-grid {
  display: grid;
  background-color: #232731;
  grid-template-columns: repeat(3, minmax(15rem, 1fr));
  justify-items: center;
  align-items: center;
  max-width: 100%; /* Add a max-width constraint to prevent the flashcards from exceeding the width of the container */
  margin: 0 auto; /* Center the flashcard grid within its container */
  padding-bottom: 1.75rem;
  padding-top: 1.5rem;
  border-top: 2px solid #31343e;
}

.flashcard {
  width: 100%; /* Set the width of each individual flashcard to 100% */
}
footer {
  text-align: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
#footer-logo {
  height: 0.9rem;
}
